.project-container{
    height: auto;
    width: auto;
    margin: 5% 10%;
    border: 3px solid #1560BD;

    .main-container{
        display: flex;
        height: calc(80vh - 170px);
        .aside{
            width: 25%;
            border-right: 3px solid #1560BD;
        }
    }
    
}